html {
  font-family: Arial;
  font-size: 20;
}

textarea {
  border: none; 
  outline: none;
  overflow: hidden;
  box-shadow: none;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  background: rgb(221, 221, 221);
  width: 100%;
  height: 20px;
}

.rendered {
  height: 22px;
}

table {
  width: 100%;
}
